@use '@styles/utils' as *;

.list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0 15%;

  @include md {
    gap: 2rem;
    padding: 0 0 0 15%;
  }
}

.feature {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  font-size: 1.5rem;
  text-wrap: balance;

  @include md {
    gap: 1rem;
    font-size: 2rem;
  }
}

.index {
  font-size: 1.75rem;
  font-weight: 600;

  @include md {
    font-size: 2.25rem;
  }
}
