@use '@styles/utils' as *;

.feature {
  font-size: calc(1.5rem + 1.5vw);
  text-wrap: balance;

  @include lg {
    font-size: calc(1.5rem + 2vw);
  }
}

.index {
  font-size: calc(1.5rem + 3vw);
  font-weight: 600;
}
